.header{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:#5198F0;
    font-size: 50px;
    display: block;
    
    position:fixed ;
    z-index: +1;
    height: fit-content;
    left:0;
    right:0;
    text-align: center;
    top:0;
    width: 100%; 
    box-sizing: border-box;
    padding-top:10px;
    overflow-x: hidden;


}

.footer{
    font-size: xx-large;
    
    font-family: monospace;
 
    position: fixed;
    bottom: 0;
    background-color: rgb(111, 109, 109);
    color:rgb(255, 255, 255);
    text-align: center;
    left:0;
    right:0;


    
}

.button{
    background-color: #4B5FDE;
    border-radius: 50px;
    width: fit-content;
    height: fit-content;
    border-color: black;
    border-width: 2px;
    padding: 15px;
    margin: 5px;
    flex-direction: row;
    
    

    
    
 
}
.button:hover{
    font-size: 1.05em;
    cursor: crosshair;
    background-color:  #222c6b;
}
.buttontext{
    color: rgb(219, 206, 235);
    font-size: x-large;
}

.navbar{
    text-align: center;
   
    width:100%;
    position: fixed;
    
   

    

    

}

.probutton{
    background-color: rgb(86, 184, 233);
    color:rgb(0, 0, 0);
    width:fit-content;
    padding:10px;
    border-radius: 20px;
    margin:20px;
    display: block;
  
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#heis{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: beige;
    max-width: fit-content;
    display: block;

}

#achievements{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(131, 190, 219);
    max-width: fit-content;
    margin:10px;
    font-size: xx-large;
    
    height: fit-content;
}

li:hover{
    background-color: #4B5FDE;
}

a:visited {
    color: rgb(204, 23, 23); 
}

.table{
    background-color:#43a9d1; 
    width:fit-content ;
    border: 2px solid rgb(0, 0, 0); 
    border-collapse: separate; 
    padding:10px;
    
   

}
#heis li::marker{
    font-size: 1.5em;
    content:"❤️";
}

#achievements ::before{
    content: "👍";

}

.tr>th{
    background-color: rgb(61, 159, 134);

}

.tr{
  
    color:rgb(237, 237, 245);
}

.label{
    
    display: block;

}
#background{
    width: 100vw;
    height:100vh;
   
    padding:0;
    opacity: 50%;
    position:fixed;
    top:0;
    z-index: -1;
    
}

#selfie{
    text-align: center;
    padding-top: 80px;


    

   
}

body{
    position: flow;
    margin-top:100px;
    
    
}

#backbutton{
    font-size: larger;
    height:fit-content;
    width:fit-content;
    border: solid;
    font-family: fantasy;
    position: fixed;
    right:40px;
    top:30px;
    z-index: +1;
    background-color: #5198F0;

}
#backbutton:hover{
    background-color: #3c2975;

}

#backbuttontext{
    color: rgb(185, 203, 239);
}

#lor{
    width: 20vw;
    height: 20vw;
    float:inline-start;
    width:"100px" ;
    height:"70px";

}

#float{
    border: solid ;
    width: 80%;
    height: 40%;
}

aside{
    width: 20%;
    float: left;
    padding: 10px;
    overflow: hidden;
}
